footer.l-footer.p-footer
  .l-container.p-footer__container
    nav.p-footer__nav.p-footer-nav
      ul.p-footer-nav__items
        each page in pages
          li: a(href=page.slug)= page.title
    p.p-footer__copyright &copy;&nbsp;2020&nbsp;-
      script(type="text/javascript" language="JavaScript")
        | current = new Date();
        | document.write(current.getFullYear() + '&nbsp;')
      = siteInfo.siteName

button.l-to-top.c-to-top.js-to-top

// JavaScript 
script(src="/js/lib/smoothscroll.js")
script(src="/js/script.js")