extends ./common/_layout

block pageId
  - let pageId = 'home';

block content
  .l-home
    main
      .l-container
        | トップページです。
        .test テスト
      <!-- /.l-container -->
  <!-- /.l-home -->