extends ../common/_layout

block pageId
  - let pageId = 'blog';

block content
  .l-blog
    main
      .l-container
        include ../common/_breadcrumb
        | ブログページです。
        .test テスト
      <!-- /.l-container -->
  <!-- /.l-blog -->